<beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="
        http://www.springframework.org/schema/security
        	http://www.springframework.org/schema/security/spring-security-3.2.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- enable use-expressions -->
    <!-- <http auto-config="false" use-expressions="true"> -->
    <http use-expressions="true">
        <headers>
            <cache-control />
        </headers>

        <intercept-url pattern="/admin" access="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" />
        <intercept-url pattern="/user" access="hasRole('ROLE_USER')" />

        <logout logout-success-url="/" />
        <!--<access-denied-handler error-page="/403" /> -->

        <form-login login-page="/"
                    authentication-failure-url="/login/error"
                    username-parameter="email"
                    password-parameter="password"
                    login-processing-url="/auth/login_check"
                    authentication-success-handler-ref="authenticationSuccessHandler"/>

        <logout logout-url="/logout" logout-success-url="/login" />
        <csrf />

    </http>
    <beans:bean id="authenticationSuccessHandler"
          class="conference.model.AuthenticationSuccessHandler" />

    <!--   <beans:bean id="authenticationManager"
                   class="conference.model.AuthenticationManager" /> -->

    <!-- Select users and user_roles from database -->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="user" password="12345" authorities="ROLE_USER" />
                <user name="admin" password="12345" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <!--    <authentication-manager>

            <authentication-provider>
                <password-encoder ref="encoder" />
                <jdbc-user-service data-source-ref="dataSource"
                                   users-by-username-query="select email, password, role from users where email=?"  />
            </authentication-provider>

        </authentication-manager> -->



    <!--
    <beans:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
        <beans:constructor-arg name="strength" value="10" />
    </beans:bean> -->

</beans:beans>